/* your code */
.head{
	background-color:rgba(20, 20, 255, 0.6);
	color:white;
}
.table{
	border:1px solid;
	border-radius:10px;
	margin:20px 0;
	border-collapse:collapse;
	width:500px;
}

.bg{
	background-color:#black;
	 padding: 12px; /* Padding inside body cells */
    border-bottom: 1px solid #ddd;
	text-align:left;
	
	
}

	
